<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{maincss}}>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
    <script defer src="{{ mainscript }}"></script>

  </head>
    <body>
      <section class="menu-bar">
        <div class="menu-bar-strip">
          <a href="/" class="menu">Home</a>
          <a href="/patients" class="menu">Patients</a>
          <a href="/doctors" class="menu">Doctors</a>
          <a href="/clinics" class="menu">Clinics</a>
        </div>
      </section>
      {{{body}}}
    </body>
</html>