<section>
    <p>This is the body</p>
    <div id="table-container"></div>

    <form method="POST"action="/postAppointment">
        <button>postttttttttttappointmenttt</button>
    </form>
</section>
