<section class="home">
    <div id="table-container"></div>
    <div class="button-wrapper">
        <button id="prevButton">Previous Page</button>
        <button id="nextButton">Next Page</button>
    </div>
</section>
