<section>
    <p>This is the body</p>
    <div id="table-container"></div>

    <form method="POST" action="/postAppointment">
        <button>postttttttttttappointmenttt</button>
    </form>
    <form method="POST" action="/editAppointment">
        <button>eeeedddiiitttttappointmenttt</button>
    </form>
    <form method="POST" action="/deleteAppointment">
        <button>deeeelllleeeettteeeeeeeeeeappointmenttt</button>
    </form>
</section>
