<section class="home">
    <div class="head">

        <select id="opSelect" name="status">
            <option value="Complete">Complete</option>
            <option value="Queued" selected>Queued</option>
            <option value="NoShow">NoShow</option>
            <option value="Serving">Serving</option>
            <option value="Cancel">Cancel</option>
        </select>

        <select id="regSelect">
            <option value="central" selected>All</option>
            <option value="luzon">Luzon</option>
            <option value="vismin">Visayas/Mindanao</option>
        </select>
    </div>

    <div id="table-container"></div>
    <div class="button-wrapper">
        <button id="prevButton">Previous Page</button>
        <button id="nextButton">Next Page</button>
    </div>

</section>