<section class="home">
    <div class="head">
        <select id="opSelect">
            <option value="Read">Read</option>
            <option value="Add">Add</option>
            <option value="Delete">Delete</option>
            <option value="Update">Update</option>
        </select>

        <select id="regSelect">
            <option value="central">All</option>
            <option value="luzon">Luzon</option>
            <option value="vismin">Visayas/Mindanao</option>
        </select>
    </div>

    <div id="table-container"></div>
    <div class="button-wrapper">
        <button id="prevButton">Previous Page</button>
        <button id="nextButton">Next Page</button>
    </div>

</section>