@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --strip: #f0f0f0;
  --main-font: "DM Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

.home {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-bar {
  width: 100%;
  height: fit-content;
  font-family: var(--main-font);
  font-size: 0.95em;

  .menu-bar-strip {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--strip);
  }

  .menu {
    text-decoration: none;
    color: black;
  }

  .menu:hover {
    color: rgb(88, 82, 82);
  }
}

#table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  /* background-color: #a19e9e; */
  padding: 2rem 0rem;

  table {
    border: 0.5px solid black;
    border-collapse: collapse;
    /* background-color: aqua; */
  }

  th {
    padding: 0.55vw;
    font-size: 0.95vw;
    border: 1px solid #a19e9e;
    background-color: rgb(226, 218, 218);
    max-width: 100px;
    word-wrap: break-word;
  }

  td {
    font-size: 0.85vw;
    border: 1px solid #a19e9e;
    padding: 0.5vw;
    max-width: 120px;
    word-wrap: break-word;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: rgb(237, 233, 228);
    padding: 0.5vw;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  /* background-color: #a19e9e; */
}

button {
  padding: 0.15rem;
  font-size: 0.85vw;
}

.operation {
  width: auto;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f6f3f3;
  box-sizing: content-box;
  display: none;
}

#patient-add,
#appt-add {
  display: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  grid-template-rows: 2rem 1fr;
  gap: 1rem; /* Spacing between grid items */
}

input,
label,
option {
  font-size: 1.15vw;
}

/* label {
  margin: 1rem;
} */

input[type="number"] {
  width: 2rem;
}
